:root{
    --mainBackgroundColor: white;
    --secondBackgroundColor: black;
    --mainFontColor: black;
    --secondFontColor: white;
}

body{
    margin: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    background-image: url("./imgs/kimetsu.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}


::-webkit-scrollbar{
    /*border: 1px solid white;
    border-radius: 1rem;*/
    width: 0.5rem;
}

/* Track, progressiver bar */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Em cima e embaixo do handle*/
::-webkit-scrollbar-button {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}