.Titles{
    width: 70%;
    height: 100%;
    min-width: 440px;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: auto;
    scroll-behavior: smooth;

    background: rgba(117, 7, 167, 0.202);
    backdrop-filter: blur(5px);
}

.TitlesMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.TitlesHeader{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.SearchBar{
    width: 50%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

select{
    border-radius: 0.2rem;
}
select:focus{
    outline: 0;
}

.TitlesContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.Title[clicked="false"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 10rem;
}

.Title[clicked="true"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 500ms, height 500ms; 
    z-index: 99999;

}

.Title[clicked="false"] .TitleBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 10rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all 200ms;   
}

.Title[clicked="true"] .TitleBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20rem;
    height: 30rem;
    margin: 0;
    padding: 0;
    cursor: initial;
    transition: all 200ms;  

    background: black;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.Title[clicked="true"] .TitleBox div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.Title[clicked="false"] .TitleBox span{
    display: none;
}

.Title[clicked="true"] .TitleBox span{
    display: block;
    background: white;
    color: black;
    text-align: center;
    width: 1rem;
    height: 1rem;
    padding: 0.2rem;
    margin: 0.5rem 0.3rem;
    border-radius: 1rem;
    cursor: pointer;
}

.Title[clicked="false"] .TitleBox img{
    object-fit: contain;
    width: 8rem;
    height: 10rem;
    margin: 0;
}

.Title[clicked="true"] .TitleBox img{
    object-fit: contain;
    width: 16rem;
    height: 20rem;
    margin: 0;
}

.Title[clicked="false"] .TitleBox p{
    display: none;
}

.Title[clicked="true"] .TitleBox p{
    display: block;
    white-space: normal;
    font-size: 0.9rem;
    margin: 0.2rem 1rem;
}



.Titles footer{

}
.Page {
    font-size: 1rem;
    margin: 0.2rem;
    cursor: pointer;
}

.Page:hover {
    color: black;
}